/* General style */

html {
    font-size: 18px;
}

body {
  font-family: helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}

.header,
.philosophy h3,
.appointments h3 {
  background-color: #5F9EA0;
  color: #FFFFFF;
}

/* Header style */

.header {
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  top: 1rem;
  z-index: 2;
}

@media only screen and (max-width: 770px) {
  .header {
    top: 0;
    box-sizing: border-box;
  }
}

.container.logo {
  margin: 0;
}

@media only screen and (max-width: 770px) {
  .container.logo {
    margin: 0 2.5%;
  }

  div.navigation {
    margin-left: 2.5%;
  }  
}

.header img {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}

@media only screen and (max-width: 770px) {
  .header img {
    margin-left: 0rem;
  }
}

.header li {
  margin: 1rem 2rem 1rem 0;
}

@media only screen and (max-width: 770px) {
  ul.container {
    flex-wrap: nowrap;
  }
}

/* Main banner style */

.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  position: absolute;
  top: 0;
  height: 30rem;
  width: 100%;
}

@media only screen and (max-width: 770px) {
  .main-banner {
    height: 22rem;
  }
}

.container.banner {
  justify-content: flex-end;
}

.banner {
  width: 100%;
  box-sizing: content-box;
  padding-left: 3rem;
}

@media only screen and (max-width: 770px) {
  .banner {
    box-sizing: border-box;
    padding-left: 0;
  }
}

.banner h1 {
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
  top: 14.4rem;
  padding: 1.5rem 5rem;
}

@media only screen and (max-width: 770px) {
  .banner h1 {
    font-size: 1.33rem;
    position: relative;
    top: 8.4rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
}

/* Content style (Process) */

.content {
  position: relative;
  top: 26.6rem;
}

.process {
  flex-basis: 960px;
  justify-content: center;
}

.icon {
  height: 8rem;
  width: 6rem;
  box-sizing: border-box;
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon h4 {
  text-align: center;
}

.exam img {
  width: 3.5rem;
}

.custom img,
.delivery img {
  width: 5rem;
}

/* Content style (Identity) */

.identity {
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.philosophy,
.appointments {
  width: 45%;
}

.philosophy {
  margin-right: 10%;
}

@media only screen and (max-width: 770px) {
  .philosophy,
  .appointments {
    width: 40%;
    margin: 0 5%;
  }
}

.philosophy h3,
.appointments h3 {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 4rem 0.5rem 1.25rem;
  margin-bottom: 1rem;

}

/* Footer style */

.footer {
  position: relative;
  top: 26.6rem;
  background-color: #F0FFFF;
}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
